.urls {
  position: relative;
}

.post,
.embed,
.error {
  margin: 0.5rem 0;

  text-align: center;
  font-size: 1.5em;
}

.post {
  width: 100%;
  margin: 0;
  padding: 0;

  font-family: inherit;
  color: var(--foreground);
  border: unset;
  background: unset;
}

.post::placeholder {
  color: var(--dim);
}

.embed {
  color: var(--blue);
  word-wrap: break-word;
}

.embed.placeholder {
  color: var(--blue-darker);
}

.embedFlags {
  font-family: monospace;
  font-size: larger;
}

.error {
  color: var(--red);
}

.copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;

  pointer-events: none;

  position: absolute;
  inset: 0;

  background: var(--background);
  opacity: 0;
  transition: opacity 0.25s;
}

.copy.visible {
  pointer-events: unset;
  opacity: 0.9;
}

.icon {
  width: 1.5rem;
  stroke-width: 1.5;
  stroke: currentColor;
  fill: none;
}

.visuallyHidden {
  display: block;

  /* from bootstrap */
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
