.main section {
  margin: 1rem 0;
}

.main h1 {
  margin: 0 0 0.25rem 0;
  font-size: 1rem;
}

.sideBySide {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.table {
  border-collapse: collapse;
  font-family: monospace;
}

.table th[scope="row"] {
  border-right: 1px solid black;
  text-align: right;
  font-weight: normal;
}

.table th,
.table td {
  padding: 0.3rem 0.5rem;
  vertical-align: top;
}

.table th {
  min-width: 7.5rem;
}

.table td {
  max-width: 30rem;
}

.table img {
  max-width: 100%;
}

.table img:hover {
  outline: 1px dashed red;
}

.table .list {
  display: flex;
  flex-wrap: wrap;
}

.table .listItem {
  margin: 0.1rem 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;

  background: #83254f;
  color: #ded9d3;
}

.table code {
  display: block;
  min-height: 10rem;
  max-height: 20rem;
  padding: 0.5rem;

  overflow: scroll;
  overflow-wrap: break-word;

  background: #222;
  color: #fff;
}
